@import url("../colors.css");

* {
    border-radius: 10px;
    font-family: Noto Sans Mono;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    color: @secondary;
}

tooltip {
    background-color: @primary;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: @primary;
    padding: 0px 10px;
    margin: 1px 0px;
    margin-top: 8px;
}

#window {
    margin-left: 8px;
    margin-right: 4px;
}

#workspaces {
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10;
}

#workspaces button.active label {
    color: @accent;
}

#workspaces button:hover {
    background: @highlight;
}

#tray {
    margin-right: 8px;
}

#network {
    border-radius: 10px 0px 0px 10px;
    padding-right: 8px;
    padding-left: 12px;
}

#backlight {
    border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
    border-radius: 0px;
    padding-right: 4px;
}

#battery {
    border-radius: 0px 0px 0px 0px;
    padding-right: 4px;
}

#battery.critical {
  color: @alert;
} 

#battery.charging {
  color: @accent;
}

#clock {
    border-radius: 0px 10px 10px 0px;
    margin-right: 8px;
}
