@import url("../colors.css");

* {
    border: none;
    border-radius: 10px;
    font-family: Noto Sans Mono;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    color: @color3;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

#workspaces button {
    padding: 5px;
    color: #555869;
    margin-right: 5px;
}

#workspaces button.active {
    background: @color2;
    border-radius: 10;
    opacity: 1;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: #cdd6f4;
    color: #11111b; 
}

tooltip {
    background-color: @color1;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: @color1;
    padding: 0px 10px;
    margin: 1px 0px;
    margin-top: 8px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
    padding-right: 10px;
    padding-left: 12px;
}

#tray {
    margin-right: 8px;
}

#workspaces {
    padding-left: 8px;
    padding-right: 4px;
    border-radius: 10;
}

#window {
    margin-left: 8px;
    margin-right: 4px;
}

#clock {
    border-radius: 0px 10px 10px 0px;
    margin-right: 8px;
}

#network {
    border-radius: 0px;
    padding-right: 10px;

}

#pulseaudio {
    border-radius: 0px;
    padding-left: 1px;
    padding-right: 5px;
}

#battery {
    border-radius: 0px 0px 0px 0px;
    padding-right: 4px;
}

#battery.critical {
  color: #FF6F00;
} 

#battery.charging {
  color: #bb8cba;
}
