window {
font-family: Noto Sans Mono;
font-weight: bold;
background-color: #1E1E2E;
border-radius: 4;
border-top-left-radius: 10;
border-top-right-radius: 10;
color: #808080;
}

entry-icon {
opacity:0;
}

#input{
background-color: #1E1E2E;
color: white;
margin: 10;
margin-bottom:0;
border:0;
}

#input:focus {
box-shadow:none;
border-color:#514756;
}

#inner-box{
margin: 8;
}

#text{
margin: 10;
}

#entry{
text-color:#808080;
}

#entry:selected{
outline: none;
background-color: #1E1E2E;
opacity: 1;
}
